<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Pharmacy POI </a></header>
    <div class="right menu">
        <a class="active item" href="/home"> New pharmacy </a>
        <a class="item" href="/pharmacy"> Pharmacy list </a>
        <a class="item" href="/logout"> Logout </a>
    </div>
</nav>

<section class="ui raised segment">

    {{> newPharmacy }}

</section>